.project-listing
  background-color: #d3e0e4
  box-shadow: 0px 5px 5px rgba(0,0 ,0 ,0.2 )
  padding: 20px
  color: var(--color-greyscale-4)
  border-radius: 10px
  ul
    &.decorated
      list-style-type: disc
      li
        margin-left: 20px

    li
      margin-bottom: 5px
      line-height: 1.15rem
  p
    margin: 10px 0

  .creation-date
    display: block
    margin-bottom: 20px
    margin-top: 0px
    font-size: 2.85rem
    color: var(--color-greyscale-4)
    font-family: 'Karantina'
    font-weight: 400
    // &::first-letter
    //   color: red
