body
  background-color: #8a9ea3

.landing-page
  .container
    display: flex
    flex-direction: column
    gap: 100px
  .intro-container
    margin-top: 80px
    margin-bottom: 60px
    color: white
    .avatar-self
      display: flex
      flex-grow: 1
      justify-content: center
      margin-left: auto
      margin-right: auto
      // img
      //   flex-grow: 1
      //   display: flex
      //   justify-content: center
