\:root
    --color-primary-50: #edf0f1
    --color-primary-100: #d3dadc
    --color-primary-200: #b5c1c4
    --color-primary-300: #97a8ac
    --color-primary-400: #81969b
    --color-primary-500: #6b8389
    --color-primary-600: #6b7b80
    --color-primary-700: #5d6f74
    --color-primary-800: #5b6c70
    --color-primary-900: #49575a

    --color-secondary-50: #fffaee
    --color-secondary-100: #fff2d6
    --color-secondary-200: #ffe9ba
    --color-secondary-300: #ffe09e
    --color-secondary-400: #ffda8a
    --color-secondary-500: #ffd375
    --color-secondary-600: #ffce6d
    --color-secondary-700: #ffc862
    --color-secondary-800: #ffc258
    --color-secondary-900: #ffb745

    --color-greyscale-1: #f2f2f2
    --color-greyscale-2: #a8a8a8
    --color-greyscale-3: #7a7a7a
    --color-greyscale-4: #2b2b2b
    --color-greyscale-5: #111111
    --color-greyscale-6: #0f0f0f
