=scrollbars
  scrollbar-color: var(--color-primary-400) var(--color-secondary-400)
  scrollbar-width: thin
  &::-webkit-scrollbar
    width: 7px
    background-color: var(--color-secondary-400)
  &::-webkit-scrollbar-thumb
    background-color: var(--color-primary-400)
    border-radius: 15px
